@model SportiveOrder.Models.CRUDUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>CRUDUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="UserCompany.CompanyName" class="control-label"></label>
                <input asp-for="UserCompany.CompanyName" class="form-control" />
                <span asp-validation-for="UserCompany.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCompany.CompanyAddress.City" class="control-label"></label>
                <input asp-for="UserCompany.CompanyAddress.City" class="form-control" />
                <span asp-validation-for="UserCompany.CompanyAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCompany.CompanyAddress.Province" class="control-label"></label>
                <input asp-for="UserCompany.CompanyAddress.Province" class="form-control" />
                <span asp-validation-for="UserCompany.CompanyAddress.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCompany.CompanyAddress.PostCode" class="control-label"></label>
                <input asp-for="UserCompany.CompanyAddress.PostCode" class="form-control" />
                <span asp-validation-for="UserCompany.CompanyAddress.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

