@charset "UTF-8";

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}


.img-wrap {
  text-align: center;
  display: block;
}
.img-wrap img {
  max-width: 100%;
}

.price-wrap {
  letter-spacing: -0.7px;
}


.icon-xs, .icon-sm, .icon-md, .icon-lg {
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 0;
}


.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px;
}
figure {
  margin-bottom: 0;
}

article:after,
.form-group:after {
  display: block;
  clear: both;
  content: "";
}



p:last-child {
  margin-bottom: 0;
}

.header-main {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}



.widget-header {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.widget-header a {
  color: #343a40;
}
.widget-header i {
  color: #969696;
}


[class*=list-] li:after {
  visibility: hidden;
  display: block;
  content: "";
  overflow: hidden;
  height: 0;
  clear: both;
}


.list-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list-menu li {
  margin-bottom: 5px;
}
.list-menu a {
  color: #343a40;
}
.list-menu a:hover {
  color: #3167eb;
}


/* IF CARD IS LINKED */
a[class*=card] {
  color: initial;
}
a[class*=card]:hover .title {
  color: #3167eb;
}

[class*=card-product] a.title {
  color: #212529;
  display: block;
}

[class*=card-product] .img-wrap {
  overflow: hidden;
  position: relative;
}
[class*=card-product] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* GRID STYLE PRODUCT ITEM */
.card-product-grid {
  margin-bottom: 20px;
}
.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 220px;
}
.card-product-grid .info-wrap {
  overflow: hidden;
  padding: 18px 20px;
}
.card-product-grid .bottom-wrap {
  padding: 18px;
  border-top: 1px solid #e4e4e4;
}

.card-sm .img-wrap {
  height: 160px;
}

.card-lg .img-wrap {
  height: 280px;
}


.card .img-wrap {
  overflow: hidden;
}


.price {
  font-weight: 600;
  color: #212529;
}


.icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%;
}

.card-header .title {
  margin-bottom: 0;
  line-height: 1.5;
}

.filter-group {
  border-bottom: 1px solid #e4e4e4;
}
.filter-group .card-header {
  border-bottom: 0;
}
.filter-group:last-child {
  border-bottom: 0;
}

